:root {
    --color-primary-light: #FDFAD9;  /* Lightest shade */
    --color-primary: #C1E2A4;        /* Light green */
    --color-secondary: #86D293;      /* Darker green */
    --color-accent: #6256CA;         /* Accent purple */
  }
  